body{
	overflow: hidden;
	background: #000;
}

.ball{
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #FFF; 
	position:absolute;
	left: 200px;
	top: 50px;
}