body{
	overflow: hidden;
	background: #000;
	font-family: Helvetica, Arial, sans-serif;	
}

.ball{
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: #FFF; 
	position:absolute;
	left: 200px;
	top: 50px;
}

#paddle{
	width: 300px;
	height: 50px;
	background-color:#906;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	bottom: 10px;
}

#scoreBoard{
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 150px;
	color: #fff;
	opacity: 0.3;
	width: 200px;
	height: 200px;
	z-index: -1;
}

#life{
	position: absolute;
	left: 10px;
	top: 180px;
	width: 300px;
	height: 100px;
	z-index: -1;
}

.lifemarker{
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: #906;
	float: left;
	margin-right: 20px;
}

#gameOver{
	position: absolute;
	top: -250px;
	width: 400px;
	height: 200px;
	background-color: #906;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition-property: top;
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function:ease-in;	
	font-size: 50px;
	color: #fff;
	text-align: center;
	padding-top: 40px;
}

#replay{
	background-color: #fff;
	width: 300px;
	height: 50px
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 0;
	padding: 20px;
	margin-top: 40px;
	font-size: 20px;
	cursor: pointer;
}


